header{
    text-align: center;
    margin-top: 0;
    
}

.animation{
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes animation {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky absolute;
    display: inline-block;
    top: 0;
    width: 100%;
    text-align: center;
    
  }
  
  li {
    display: inline-block;
    
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: #0099ff;
  }

img {
    border-radius: 50%;
    width: 20vw;
    height: 25vh;
    margin-top: 0;
    float: left;

  }
  